* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #810000;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    color: white;
}

.footer__responsive-social {
    display: none;
}


/* Loader */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loader {
    background: #252525;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 3s ease-in-out;
}
.loader2 {
    clip-path: circle(0% at 100% 0);
}
.loader h1{
    color: #fff;
    position: absolute;
    top: 60%;
}
/* Nav */

.nav__responsive-ul {
    display: none;
}

#nav__ul {
    position: fixed;
    background: #252525;
    display: inline-block;
    height: 72vh;
    width: 20%;
    padding-top: 14%;
    padding-left: 10px;
    font-size: 20px;
    list-style: none;
    left: -200px;
    transition: all 0.5s linear;
}

#nav__ul.active {
    left: 0;
}

.nav__li {
    padding-bottom: 15px;
    padding-top: 15px;
}

.nav__li:hover {
    padding: 30px;
    background: #222;
    font-weight:900;
    font-size: 20px;
    transition: all 0.5s linear;
}


.nav__li a {
    color: white;
    padding-left: 10px;
    padding-right: 15px;
}



.nav__icon-btn {
    position: absolute;
    left: 220px;
    top: 20px;
    cursor: pointer;
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    animation: movimiento__icon 1s linear infinite;
}

@keyframes movimiento__icon {
    0% {
        top: 25px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 25px;
    }
}

@media (max-width: 500px) {
    #nav__ul {
        display: none;
    }

    #nav__responsive-ul {
        position: absolute;
        display: inline-block;
        background: #252525;
        width: 100%;
        height: 100vh;
        z-index: 1;
        left: -400px;
        transition: all 1s ease-in-out;
    }

    #nav__responsive-ul.active {
        left: 0;
    }

    .nav__responsive-li {
        padding-top: 40px;
        text-align: center;
        font-size: 30px;
    }
    .nav__responsive-li a {
        color: #fff;
        list-style: none;
    }

    .nav__responsive-li:hover{
        color: #00af91;
    }
    .nav__responsive-li a:hover {
        color: #00af91;
    }

    .nav__responsive-button {
        position: fixed;
        font-size: 35px;
        right: 15px;
        top: 10px;
        z-index: 50;
    }
}
/* formulario */
.form {
    position: absolute;
    
    background: #374045;
    width: 1050px;
    height: 650px;
    left: 10%;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    z-index: -1;
}
/* info de contacto */
.contact__info::before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #ce1212;
    opacity: .5;
}

.contact__info {
    width: 100%;
    position: relative;
    padding-top: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.info__title,
.info__items {
    position: relative;
    z-index: 2;;
}

.info__title {
    margin-bottom: 60px;
}

.info__title img{
    font-size: 100px;
    display:inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    left: 40px;
}
.info__title h2 {
    font-size: 35px;
    text-align: center;
}

.info__items p {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.info__items p span {
    font-size: 35px;
    margin-right: 15px;
}

/* Formulario de contacto */
form.info {
    width: 90%;
    padding: 100px 40px;
}

.welcome {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    position: relative;
}

form.info .form__user-info {
    display: flex;
    flex-direction: column;
}
.rojo {
    color: #cf4d4d;
}
.parte-info {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}


/* footer */

.footer {
    top: 750px;
    background: #1b1717;
    position: relative;
    width: 100%;
    height: 300px;
    z-index: -1;
}
/* copy */
.copyright {
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 10px;
    font-size: 15px;
}

@media (max-width: 500px) {
    .footer__social {
        display: none;
    }
    .form {
        position: absolute;
        left: 0;
        margin: 10px;
        margin-top: 75px;
        margin-left: 10px;
        width: 350px;
        height: 1050px;
    }

    .form__contact {
        padding: 20px;
    }

    form.form__contact input,
    form.form__contact textarea {
        width: 90%;
    }

    form.form__contact textarea {
        max-width: 90%;
        min-width: 90%;
        max-height: 90px;
    }

    form.form__contact input[type="submit"] {
        align-self: center;
    }

    .footer__responsive-social {
        position: absolute;
        display: inline-block;
        left: 90px;
        bottom: 120px;
    }
    .footer__responsive-social i {
        font-size: 50px;
        color: #fff;
        padding-right: 20px;
    }
    .footer {
        top: 1150px;
        background: #1b1717;
        position: relative;
        width: 100%;
        height: 300px;
        z-index: -1;
    }
}